.me_img {
  height: 185px;
  width: 185px;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 70px;
}

.bio_text {
  width: 50%;
  text-align: center;
  margin: 30px auto;
}

@media screen and (max-width: 1000px) {
  .bio_text {
    width: 100%;
  }
}
