.section {
  height: fit-content;
  background-color: rgba(228, 240, 205, 0.3);
  padding-top: 50px;
  padding-bottom: 90px;
}

@media screen and (max-width: 1000px) {
  .section {
    padding-bottom: 40px;
  }
}
